In [ ]:
#1getting_started.py

# 1. Syntax

# 1.1 Insert the missing indentation to make the code correct:
# HINT: https://www.w3schools.com/python/python_syntax.asp

# TODO: update the code below
if 4 == 2 :
  print("Four is equal to two!")


# 1.2 Variables
# HINT: https://www.w3schools.com/python/python_variables.asp

#1.2.1 Create a variable named fruit and assign the value Apple to it.
# TODO: Write your code below



# 1.2.2 Create a variable called z, assign x + y to it, and display the result.

x = 10
y= 20

# TODO: Wrtie your code below

y = x + Y

# 1.2.3 Remove the illegal characters in the variable name:

# TODO: Update the code below
2city-name = "London"

# 1.2.4 Insert the correct keyword to make the variable x belong to the global scope.
# HINT: https://www.w3schools.com/python/python_variables_global.asp

# TODO: Update the code below
def myfunc():
  _______ x
  x = "fantastic"



# 1.2.5 write a program that switches the values stored in variables a and b.

a = 5
b = 4

# TODO: Write your code below



print('a : ',a)
print('b : ',b)


# 1.3. Data Types
# casting, numbers, booleans
# HINT: https://www.w3schools.com/python/python_datatypes.asp

# 1.3.1 Write a program that add the digits in a two digit number input.
# eg. if the input is 45. The the output should be 4+5=9

number= input()

# TODO: Wrtie your code below

SyntaxError: ignored

In [ ]:
#1getting_started.py

# 1. Syntax

# 1.1 Insert the missing indentation to make the code correct:
# HINT: https://www.w3schools.com/python/python_syntax.asp

# TODO: update the code below
if 4 == 2 :
  print("Four is equal to two!")

In [ ]:
from typing import List
# 1.2 Variables
# HINT: https://www.w3schools.com/python/python_variables.asp

#1.2.1 Create a variable named fruit and assign the value Apple to it.
# TODO: Write your code below

Fruit=["Apple"]
print(Fruit)

['Apple']

In [ ]:
 #1.2.2 Create a variable called z, assign x + y to it, and display the result.
x = 10
y= 20
z=[x, y]

print(z)

[10, 20]

In [ ]:
# 1.2.3 Remove the illegal characters in the variable name:

# TODO: Update the code below
city_name = "London"

In [ ]:
# 1.2.4 Insert the correct keyword to make the variable x belong to the global scope.
# HINT: https://www.w3schools.com/python/python_variables_global.asp

# TODO: Update the code below
def myfunc():
  global x
  x = "fantastic"

In [ ]:
# 1.2.5 write a program that switches the values stored in variables a and b.

a = 5
b = 4

# TODO: Write your code below

temp = a
a = b
b = temp

print('a : ',a)
print('b : ',b)
a = 5
b = 4

a :  4
b :  5

In [6]:

# 1.3. Data Types
# casting, numbers, booleans
# HINT: https://www.w3schools.com/python/python_datatypes.asp

# 1.3.1 Write a program that add the digits in a two digit number input.
# eg. if the input is 45. The the output should be 4+5=9


# TODO: Wrtie your code below
number = input()
value1 = number[0]
value2 = number[1]

value1 = int(value1)
value2 = int(value2)

Result = (value1 + value2)
print(Result)

45
9

In [ ]:
#2string.py

# 2.1 Strings
# HINT: https://www.w3schools.com/python/python_strings.asp

txt = "Merry Christmas"


# 2.1.1 print the length of the string
# TODO: Write your code below

print(len(txt))

15

In [ ]:
# 2.1.2 Print the first character of the string txt.
# TODO: Write your code below
txt = "Merry Christmas"
print(txt[0])

M

In [ ]:
# 2.1.3 Get the characters from index 1 to index 3 (err).
# TODO: Write your code below
txt = "Merry Christmas"
print(txt[1:4])

err

In [ ]:
# 2.1.4 Convert the value of txt to upper case and print it.
# TODO: Write your code below
txt = "Merry Christmas"
print(txt.upper())

MERRY CHRISTMAS

In [ ]:
# 2.1.5 Convert the value of txt to lower case and print it.
# TODO: Write your code below
txt = "Merry Christmas"
print(txt.lower())

merry christmas

In [ ]:
# 2.1.6 Return the string without any whitespace at the beginning or the end.
x = " Hello World "
# TODO: Write your code below
print(x.strip())

Hello World

In [ ]:
# 2.1.7 Replace the character H with a J and print the result
y = "Hello"
y = y.replace("H", "J")
print(y)
# TODO: Write your code below

Jello

In [ ]:
# 2.1.8 Insert the correct syntax to add a placeholder for the name parameter.
# TODO: Update the code below
name = 'John'
txt = "My name is {}"
print(txt.format(name))

My name is John

In [ ]:
#3operators.py

# 3.1 Operators

# 3.1.1 Multiply 4 with 8, and print the result.
# TODO: Write your code below
result = 4 * 8
print(result)

32

In [ ]:
#3operators.py

# 3.1 Operators

# 3.1.1 Multiply 4 with 8, and print the result.
# TODO: Write your code below
result = 30 / 6
print(result)

5.0

In [ ]:
# 4.1 PYTHON Lists

fruits = ["kiwi", "pineapple", "apple"]
print(fruits[1])

# 4.1.1 Print the second item in the fruits list.
# TODO: Write your code below

pineapple

In [ ]:
# 4.1.2 Change the value from "kiwi" to "orange", in the fruits list.
# TODO: Write your code below
fruits = ["kiwi", "pineapple", "apple"]
fruits[0] = "orange"
print(fruits)

['orange', 'pineapple', 'apple']

In [ ]:
# 4.1.3 Use the insert method to add "lemon" as the second item in the fruits list.
# TODO: Write your code below
fruits = ["kiwi", "pineapple", "apple"]
fruits.insert(1, "lemon")
print(fruits)

['kiwi', 'lemon', 'pineapple', 'apple']

In [ ]:
# 4.1.4 Use the remove method to remove "pineapple" from the fruits list.
# TODO: Write your code below
fruits = ["kiwi", "pineapple", "apple"]
fruits.remove("pineapple")
print(fruits)

['kiwi', 'apple']

In [ ]:
# 4.1.5 Use negative indexing to print the last item in the list.
# TODO: Write your code below
fruits = ["kiwi", "pineapple", "apple"]
fruits1 = fruits[-1]
print(fruits1)

apple

In [ ]:
#4.1.6 Use a range of indexes to print the third, fourth, and fifth item in the list fruits2.

fruits2 = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
# TODO: Write your code below
fruits3 = fruits2[2:5]
print(fruits3)

['cherry', 'orange', 'kiwi']

In [ ]:
# 4.1.7 Use the correct syntax to print the number of items in the list fruits
# TODO: Write your code below
fruits2 = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
# TODO: Write your code below
fruits3 = len(fruits2)
print(fruits3)

7

In [ ]:
# 4.1.8  Write a program that add the average of numbers in a list scores.
# you are not allowed to use the sum() or len() functions.

scores = [50, 55, 56, 70, 80, 60, 66]
lenght = 0
total = 0
for x in scores:
  total+=x
  lenght+=1
print(total)
print(lenght)
print(total/lenght)

437
7
62.42857142857143

In [ ]:
scores = [50, 55, 56, 70, 80, 60, 66]


highscore = scores[0]

for score in scores:
    if score > highscore:
        highscore = score

print("The highest score is:", highscore)

The highest score is: 80

In [ ]:
# 4.2. PYTHON Dictionaries

car =	{
  "brand": "Renault",
  "model": "Clio",
  "year": 2018
}

# 4.2.1 Use the get method to print the value of the "model" key of the car dictionary.
# TODO: Write your code below
model = car.get("model")

print(model)

Clio

In [ ]:
# 4.2.2 Change the "year" value from 2018 to 2020 in the car dictionary.
# TODO: Write your code below
car =	{
  "brand": "Renault",
  "model": "Clio",
  "year": 2018
}
car ["year"] = 2020
print(car)

{'brand': 'Renault', 'model': 'Clio', 'year': 2020}

In [ ]:

# 4.2.3 TODO: Add the key/value pair "color" : "blue" to the car dictionary.
# TODO: Write your code below

In [ ]:
# 4.2.3 TODO: Add the key/value pair "color" : "blue" to the car dictionary.
# TODO: Write your code below
car =	{
  "brand": "Renault",
  "model": "Clio",
  "year": 2018
}
car ["color"] = "Blue"
print(car)

{'brand': 'Renault', 'model': 'Clio', 'year': 2018, 'color': 'Blue'}

In [ ]:
# 4.2.4 Use the pop method to remove "model" from the car dictionary.
# TODO: Write your code belo
car = {
  "brand": "Renault",
  "model": "Clio",
  "year": 2018
}


remove = car.pop("model")

print(car)
print(remove)

{'brand': 'Renault', 'year': 2018}
Removed model: Clio

In [ ]:
# 4.2.5 Use the clear method to empty the car dictionary.
# TODO: Write your code below
car = {
  "brand": "Renault",
  "model": "Clio",
  "year": 2018
}

car.clear()

# Afficher le dictionnaire mis Ã  jou
print("Removed model:", car)

Removed model: {}

In [ ]:
# 5conditionals.py

# 5.1 If ... else

a = 20
b = 40

c=10
d=40

# 5.1.1 Print "Yes" if a is equal to b, otherwise print "No".
# TODO: Write your code below

if a == b:
  print("Yes")
else:
  print("No")

No

In [ ]:
# 5.1.2 Print "1" if a is equal to b, print "2" if a is greater than b, otherwise print "3".
# TODO: Write your code below

a = 20
b = 40

c=10
d=40
if a == b:
  print("1")
elif a > b:
  print("2")
else:
  print("3")

3

In [ ]:
# 5.1.3 Print "Hello" if a is equal to b, and c is equal to d.
# TODO: Write your code below
a = 20
b = 40

c=10
d=40
if a == b and c == d :
  print("Hello")
else:
  print("Not Hello")

Hello

In [ ]:
# 5.1.4 Print "Hello" if a is equal to b, or if c is equal to d.
# TODO: Write your code below
a = 20
b = 40

c=10
d=40
if a == b or c == d :
  print("Hello")
else:
  print("Not Hello")

Not Hello

In [ ]:
# 5.2 Write a program that checks whether an input number is odd or even. Print whether the input number is odd or even
# HINT:
# even numbers can be divided by 2 with no remainder. when odd numbers are divided by 2 there is a remainder.
# eg. 42 is even because 42/2 = 21 and has no remainder
# eg. example, 33 is odd because 33/3 = 16.5 is not a whole number.
# we can use the module operator (%) in python to get the remainder after a division.
# eg. 5%2 = 1 since 5 divided by 2 has a remainder 1. So 5 is odd
# eg. 6%2 = 0 since 6 divided by 2 has a remainder 0. So 6 is even.

#number to check
number = int(input('Enter a number'))

# TODO: write your code below

if number % 2 == 0:
    print(f"{number} is even.")
else:
    print(f"{number} is odd.")

Enter a number13
13 is odd.

In [ ]:
fruits = ["kiwi", "banana", "cherry"]

# 6.1.1 Use a for loop to loop through the items in the fruits list and print each item.
# TODO: Write your code below
for fruits in fruits:
  print(fruits)

kiwi
banana
cherry

In [ ]:
# 6.1.2 In the for loop to loop through the items in the fruits list,  when the item value is "banana", jump directly to the next item.
# TODO: Write your code below
fruits = ["kiwi", "banana", "cherry"]
for fruits in fruits:
  if fruits == "banana":
    continue
  print(fruits)

kiwi
cherry

In [ ]:
# 6.1.3 In the for loop to loop through the items in the fruits list, exit the loop when the item is "banana".
# TODO: Write your code below
fruits = ["kiwi", "banana", "cherry"]
for fruits in fruits:
  if fruits == "banana":
    break
  print(fruits)

kiwi

In [ ]:
# 6.1.4 Using the Python range() function, create a sequence of numbers from 0 to 5, and print each item in the sequence in a new line:
# HINT: https://www.w3schools.com/python/ref_func_range.asp
# TODO: Write your code below



for num in range(6):
    print(num)

0
1
2
3
4
5

In [ ]:
# 7functions.py

# 7.1 Functions

# 7.1.1 Create a function named function1 that prints this string "Hello World"
# TODO: Write your code below

def function1():
  print("hello world")
function1()

hello world

In [ ]:

# 7.1.3 Create a function named function2 that takes in one integer parameter number1. The function adds 5 to the input number1, and prints the result
# TODO: Write your code below

def function2():
  number = int(input())
  number1 = number + 5
  print(number1)
function2()

1
6

In [ ]:
# 7.1.4 Create a function named compare_numbers() with two arguments. If the first argument is greater than the second, print "first number is greater".
# If the second number is greater than the first, print "first number is smaller". Is the numbers are equal, print "equal numbers"
# TODO: Write your code below

def compare_numbers():
  number1 = int(input())
  number2 = int(input())
  if number1 > number2:
    print("1st number is greater")
  elif number1 < number2:
    print("2nd number is greater")
  else:
    print("number are equals")
compare_numbers()

2
3
2nd number is greater

In [ ]:

# 7.2 Create a lambda function that takes one parameter (a) and returns it.
# TODO: Write your code below
x = lambda a : a
emn = x(10)
print(emn)

10

In [ ]:
### 7.3 Python built-in functions : https://www.w3schools.com/python/python_ref_functions.asp

nums = [11,33,14,2,58,65,34]

# 7.3.1 Using Python's built in sum() function, print the sum of the numbers in the list nums
# TODO: Write your code below

sum(nums)

217

In [ ]:

# 7.3.2 Using Python's built in min() function, print the minimum of the numbers in the list nums
# TODO: Write your code below
nums = [11,33,14,2,58,65,34]
min(nums)

2

In [ ]:
# 7.3.3 Using Python's built in abs() function, print the absolute value of -6.
# TODO: Write your code below
x = -6
abs(x)

6

In [ ]:
# 7.3.4 Using Python's built in round() function, round the number 4.67888 to two decomal places.
# TODO: Write your code below

x = 4.67888
round(x)

5

In [ ]:
# 7.4 Python Modules
# HINT: https://www.w3schools.com/python/python_modules.asp
# HINT: https://realpython.com/python-modules-packages/
# HINT: https://docs.python.org/3/tutorial/modules.html


# 7.4.1 Create a python module mod.
# In mod.py, create a function psum(number1, number2) that takes two arguments and prints the sum of them. Assume the input arguments to be numbers.
# In mod.py, create a function pmultiply(number1, number2) that takes two arguments and prints the product of them. Assume the input arguments to be numbers.

def psum(number1, number2):
  print(number1+number2)
def pmulti(number1, number2):
  print(number1*number2)

In [ ]:

# 7.4.2 Create python file main.py and import the module mod.
# In main.py run the psum() and pmultiply() functions from the module mod using any two numbers.
def psum(number1, number2):
  print(number1+number2)
def pmulti(number1, number2):
  print(number1*number2)

import mod
mod.psum(10, 40)

mod.pmulti(10, 40)

ModuleNotFoundError: ignored